body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}

#notebook-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: #f4e1d2;
    border: 2px solid #5d4037;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 100;
}

#notebook-container {
    display: none; 
    position: absolute;
    top: 60px;
    left: 20px;
    width: 300px;
    height: 400px;
    background: #fff9c4; 
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    z-index: 100;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#notebook-area {
    width: 100%;
    height: 90%;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    background-image: linear-gradient(#eee 1px, transparent 1px);
    background-size: 100% 1.5em; /* Lignes de cahier */
}